.whatsapp-block .container_new, .subscribe-block .container_new {
	padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.collection-block .container {
	    width: 100%;
}

.subscribe-block {
    background: #ee2d24;
    padding: 13px 0;
    -webkit-box-shadow: 0px 10px 15px -12px #000;
    box-shadow: 0px 10px 15px -12px #000;
	    margin-bottom: 50px;
}

.subscribe-block .subscribe-title {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    color: #fff;
    text-transform: uppercase;
}

.b-subscribe{
    box-sizing: content-box;
	text-align: left;
	width: 49%;
    display: inline-block;
    vertical-align: top;
}
.b-subscribe .b-social__title {
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.type-title.subscribe-title {
    margin-bottom: 3px;
}
.b-subscribe label.l-subscribe {
    float: left;
    font-size: 15px;
    -webkit-box-align: left;
    -ms-flex-align: left;
    line-height: 40px;
    align-items: left;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    color: #fff;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: bold;
}

.b-subscribe .subscribe-input {
    padding: 10px 5px;
    width: 200px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    font: 500 14px/16px 'Museo Sans Cyrl';
    outline: 0;
    border-radius: 2px;
    float: left;
	margin-right: 20px;
}
.b-subscribe .subscribe-input::placeholder { font-style: italic; }

/*.b-subscribe .b-button-s {
    border: 0;
    width: 110px;
    height: 38px;
    outline: 0;
    padding: 6px;
    cursor: pointer;
	//text-transform: uppercase;

	
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    background: #f7f7f7;
	
}*/
.b-subscribe .b-button-s {
	-webkit-appearance: none;
    border: 0;
    width: 128px;
    height: 38px;
    outline: 0;
    padding: 6px;
    cursor: pointer;
	
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 14px;	
}
.b-subscribe .b-subscribe__form .b-form__result.-error {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    color: #e3000f;
    background: white;
    padding: 5px;
    font-weight: bold;
    text-transform: none;
    width: 200px;
	display: none;
}
.b-subscribe .b-subscribe__form .b-form__result.-success {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    color: green;
    background: white;
    padding: 5px;
    font-weight: bold;
    text-transform: none;
    width: 200px;
	display: none;
}

.whatsapp-block {
    box-sizing: content-box;
    text-align: center;
	padding: 20px 0;
    background: #d6d6d6;
    //-webkit-box-shadow: 0px 10px 15px -12px #000;
   // box-shadow: 0px 10px 15px -12px #000;
    margin-bottom: 50px;
}
.whatsapp-block .whatsapp-title{
	color: #565656;
}    
.whatsapp-block .b-textfield__input.whatsapp-input {
    width: 100%;
    text-transform: uppercase;
    color: #b0ed93;
    background: #3b8d3b;
    height: 50px;
    padding: 12px;
    margin-left: 20px;
    font-size: 18px;
}
.whatsapp-block  .w-icon {
    height: 25px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.collection-block .container{
	padding-left: 0px;
    padding-right: 0px;
}
.collection-block .container .gallery .gallery-flex:nth-child(3n+3) {
    margin-right: 0;
}
.collection-block .gallery .gallery-flex {
    width: 31.5%;
}

.collection-block .product-list__gallery {
    padding-top: 0px;
}

/* Popup subscribe */
#subscribe_ok {
    width: 90%;
    max-width: 640px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ececec;
    padding: 30px 40px;
    z-index: 30;
    display: none; 
}

#subscribe_ok .help-form {
    padding-bottom: 40px;
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 30px; 
}

#subscribe_ok .close {
    padding-left: 10px;
    background: #ececec;
    position: absolute;
    top: 20px;
    right: 20px; 
}

#subscribe_ok .close a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    font-size: 28px;
    text-transform: uppercase;
    cursor: pointer; 
}

@media screen and (max-width: 550px) {
	.news-content__gallery .gallery .gallery-flex {
        width: 100% !important;
	}
	.collection-block .gallery .gallery-flex {
		width: 100%;
	}
	#subscribe_ok h2 {
        font-size: 17px; 
	} 
	#subscribe_ok {
        padding: 15px; 
	} 
	#subscribe_ok .close a {
        width: 30px;
        height: 30px;
        font-size: 18px; 
	} 
	#subscribe_ok .close {
        top: 15px;
        right: 5px; 
	} 	
}

@media screen and (min-width: 1170px){
	.whatsapp-block .container_new, .subscribe-block .container_new {
		width: 730px;
	}
	.whatsapp-block .container_new, .subscribe-block .container_new .b-subscribe2 {
		text-align: right;
	}
}

@media screen and (max-width: 467px){
	.whatsapp-block .whatsapp-title {
		width: 100%;
		float: left;
	}	
	.whatsapp-block .b-textfield__input.whatsapp-input {
		margin-left: 0px;
	}
	.b-subscribe{
		width: 100%;
	}		
}

@media screen and (max-width: 1147px){
	.b-subscribe .subscribe-input{
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 367px){
	.b-subscribe .subscribe-input {
		width: 140px;
	}		
}