.noslider{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}

.noslider .slider-product__item{
	margin-right: 10px;
	width: 25%;
}

.sale-personal-section-index-block.bx-theme-blue{
	background: #d8d8d8;
	height: auto;
	margin-right: 15px;

}

.sale-personal-section-index-block-link, .sale-personal-section-index-block-link:hover, .sale-personal-section-index-block-link:active, .sale-personal-section-index-block-link:focus, .sale-personal-section-index-block-link:visited{
	color: #565656;
}

.sale-personal-section-index-block-link{
	color: #565656;
	height: 100px;
	width: 100px;
	padding: 0;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sale-personal-section-index-block-ico {
    font-size: 44px;
}

.sale-personal-section-index-block-name {
    line-height: inherit;
    margin-bottom: 0;
    font-size: 14px;
}

.sale-order-list-change-payment{
	color: #565656;
	font-family: arial, sans-serif;
}

.sale-order-title{
	text-shadow: none;
}

#filter-wrapper > .filter-box > form{
	width: 100%;
}

#filter-props-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

table.table {
    width: 100%;
    margin: 15px 0;
}

table.table th {
    text-align: left;
    width: 33%;
    padding: 10px;
}

table.table td {
	font-weight: normal !important;
    padding: 10px;
}

table.table th:last-child,
table.table td:last-child {
    text-align: right;
}

a.pdf-link {
    color: #555;
    background-color: #ccc;
    -webkit-box-shadow: 1px 1px 4px rgba(200, 200, 200, 0.8);
    box-shadow: 1px 1px 4px rgba(200, 200, 200, 0.8);
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
}

span.badge {
    color: #fff;
    background-color: #333;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.li-cont {
    overflow-x: auto;
    margin-top: 10px;
    display: none;
}

td#basket_quantity_control{
	position: relative;
	z-index: 5;
	top: 0;
}

#basket_items input {
	max-width: none !important;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: auto;
    height: 34px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center right 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #000;
}

.mob-basket {
    position: absolute;
    right: 3px;
    bottom: 5px;
    background: #ff291e;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
}

.basket_quantity_control {
    display: flex;
    height: 34px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.basket_quantity_control a{
	height: 15px;
	width: 13px;
}

@media screen and (max-width: 980px){

	.header-bottom .header-soc{
		display: none;
	}

	.bottom-footer__menu{
		width: 100%;
		margin-top: 15px;
	}

	.footer-menu__link{
		margin-left: 0;
		margin-right: 6px;
	}

	.footer .contact-footer__middle{
		flex: 0 0 50%;
	}

	.hidden-mob .bottom-footer{
		flex-wrap: wrap;
	}

	.hidden-mob .soc-footer{
		width: 40%;
	}
}

@media screen and (max-width: 800px){

.bx_block .input_style{
	width: 100%;
}

table.pb-table__technical-data th {
    min-width: 33px;
}


.noslider .slider-product__item{
	width: 48%;
	margin-bottom: 10px;
}

.header-bottom .all-radiators__link{
	padding: 0 10px;
	margin-left: 10px;
	margin-right: 10px;
}


}

@media screen and (max-width: 550px){

.gallery,
.gallery .gallery-flex img{
    display: block;
}

body.hidd{
	overflow: hidden;
}

.headermob {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#help .help-middle{
	display: block;
}

#help .help-middle__btn-send{
	margin-top: 10px;
}

#help .form-column__captcha *{
	max-width: 100%;
}

#help .input_style{
	padding: 0 4px;
}

.sale-personal-section-index {
    width: 230px;
    margin: auto;
}

.form-cmn .form-cmn-row{
	display: block;
}

.noslider .slider-product__item{
	width: 100%;
	margin: 0px 0 10px;
}

.sale-personal-section-row-flex{
	margin-top: 25px;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td.item{
	padding-bottom: 0;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemart{
	margin-bottom: 0;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price{
	padding-top: 0;
	text-align: left;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price{
	margin-bottom: 0;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td{
	padding: 1% 6%;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr{
	margin-bottom: 0;
	background-color: #fff;
}

.bx-touch .bx_ordercart .bx_ordercart_photo_container{
	max-width: none;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_photo{
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td.custom td{
	display: inline-block;
}

#basket_items input {
    background-color: #e2e1e17a;
    margin-right: -20px;
}

.bx_ordercart_order_table_container .centered {
    text-align: left;
}

.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.control a {
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #3b8d3b;
    padding: 0 11px;
    height: 40px;
    color: #b0ed93;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

}

.bx_ordercart h4{
	text-transform: uppercase;
	margin-bottom: 10px;
}

span.label-product.hidden-mob span {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.bx_ordercart .bx_ordercart_order_sum tr td{
	font-size: 24px;
}
.main .news-index .slider-product .slider-product__bottom .slider-product__name {
	height: auto;
}


@media screen and (max-width: 350px){


.style_btn3 {
	min-width: 120px !important;
}

.price{
	font-size: 16px !important;
}

.info-back__3 .info__desp {
    color: #fff;
}

.cpf-center {
    width: 100%;
}

.calc-box__model .total__tags{
	min-width: 130px;
}

.cpf-center .total-result__price {
	text-align: right;
}

.cpf-desp__link {
    font-size: 15px;
    height: auto;
}

.form-column__btn-send{
	width: 100%;
}

.contact-box .btn-send{
	width: 100%;
}

.contact-box .form-personal{
	position: static;
	margin-top: 10px;
	width: 100%;
}

.main .popular-index.spec-index h2 {
    font-size: 14px;
}

}